.name_of_people{
    color: blue;
}
body{
    background-color: cadetblue;
    color: coral;
    align: center;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
#result{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
#person,#accuracy{
    color: crimson;
}